{% extends "base.html" %}
{% load static %}

{% block nombre %}Registro{% endblock %}

{% block Contenido %}
<body style="background-image: url('{% static 'libreria/images/fondo.jpg' %}'); background-size: cover; background-position: center; background-attachment: fixed;">

<div class="background-container">
  <div class="overlay">
    <div class="form-container">
      <h2 class="mb-4 text-center">Crear Cuenta</h2>

      {% if form.errors %}
        <div class="alert alert-danger">
          <ul class="mb-0">
            {% for field in form %}
              {% for error in field.errors %}
                <li><strong>{{ field.label }}:</strong> {{ error }}</li>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">{{ form.nombre.label_tag }} {{ form.nombre }}</div>
          <div class="col-md-6">{{ form.apellido.label_tag }} {{ form.apellido }}</div>
          <div class="col-md-6">{{ form.email.label_tag }} {{ form.email }}</div>
          <div class="col-md-6">{{ form.telefono.label_tag }} {{ form.telefono }}</div>
          <div class="col-md-6">{{ form.fecha_nacimiento.label_tag }} {{ form.fecha_nacimiento }}</div>
          <div class="col-md-6">{{ form.tipo_documento.label_tag }} {{ form.tipo_documento }}</div>
          <div class="col-md-6">{{ form.numero_documento.label_tag }} {{ form.numero_documento }}</div>
          <div class="col-md-6">{{ form.codigo_empresa.label_tag }} {{ form.codigo_empresa }}</div>
          <div class="col-md-6">{{ form.password.label_tag }} {{ form.password }}</div>
          <div class="col-md-6">{{ form.password2.label_tag }} {{ form.password2 }}</div>
          <div class="col-md-12">{{ form.imagen.label_tag }} {{ form.imagen }}</div>
          <div class="col-md-12">{{ form.descripcion.label_tag }} {{ form.descripcion }}</div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary w-70 mt-4">Registrarse</button>
        </div>

      </form>

      <p class="mt-3 text-center">
        ¿Ya tienes una cuenta? <a href="{% url 'inicio' %}">Inicia sesión aquí</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}


